<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <xhprof translate="label" module="xhprof">
                    <label>XHProf Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <interval translate="label comment">
                            <label>Interval</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Interval between each request captured for profiling. For example 1000 every thousandth time.</comment>
                        </interval>
                        <exclude_paths translate="label comment">
                            <label>Exclude Paths</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Blacklist, one prefix per line.</comment>
                        </exclude_paths>
                        <include_paths translate="label comment">
                            <label>Include Paths</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Whitelist, one prefix per line.</comment>
                        </include_paths>
                    </fields>
                </xhprof>
            </groups>
        </dev>
    </sections>
</config>